body{
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.mapouter {
    width: full;
    height:full;
}

.gmap_canvas {
    overflow: hidden;
}

.gmap_iframe {
    width: 400px;
    height: 200px;
    border-radius: 10px;
}
